.searchbar {
  margin: 0 3px 0 5px;
}

.searchbar form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-input {
  height: 3vh;
  width: 30vw;
  margin-right: 15px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #667711;
  color: black;
}

#search-input:focus {
  background-color: rgb(225, 225, 225);
}

#search-button {
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
  width: 10vw;
  border: 2px solid #667711;
  border-radius: 12px;
}

#search-button:hover {
  cursor: pointer;
  border-color: black;
  background-color: rgb(225, 225, 225);
}
